 <!DOCTYPE html>
<html>

  <head>
    <title>Update Journal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">

    <header>
      <h1><%= title %></h1>
      <h3><%= subtitle %></h3>
      <h2>Update Journal Entry </h2>
      <p>journal - views/journals/edit.ejs</p>
      <% console.log('journal - views/journals/edit.ejs'); %>

    </header>

    <nav>
      <ul>
      <li><a href="/journals">List All Journal Entries</a></li>
      <br>
      <li><a href="/">HOME</a></li>
      <br>
      <li><a href="#">Search by Event</a></li>
      <li><a href="#">Search by Date</a></li>
      <li><a href="#">Search by Keyword</a></li>
      <li><a href="#">Search by Event</a></li>
      </ul>
    </nav>

    <article>
      <fieldset>
        <legend> Journal Entry </legend>

      <form method="POST" action="/journals/<%= journal._id %>">
          <input type="hidden" name="_method" value="PUT">
          <br>
          <div class="title"> Entry Title:  </div>
          <div class="field"><input type="text" name="enttitle" value="<%= journal.enttitle %>"></div>
          <br>
          <br>
          <div class="title"> Entry Date:  </div>
          <div class="field-date"><input type="date" name="entdate" value="<%= journal.entdate %>" ></div>
          <br>
          <br>
          <div class="title">  Entry Reference:  </div>
          <div class="field"><input list="period" type="text" name="entperiod" value="<%= journal.entperiod %>" ></div>
          <datalist id="period">
            <option value="0000-All Day">
            <option value="0100-Early Morning">
            <option value="0600-Morning">
            <option value="0700-Breakfast">
            <option value="1200-Midday">
            <option value="1200-Lunch">
            <option value="1300-Afternoon">
            <option value="1800-Evening">
            <option value="1800-Dinner">
            <option value="2400-Midnight">
          </datalist>
          <br>
          <br>
          <div class="title">  Journal Entry:  </div>
          <!-- <div class="fldname" id="field-entry"><%= journal.journalentry %> </div> -->
          <div> <textarea name="journalentry" > <%= journal.journalentry %>
          </textarea></div>
          <br>
          <br>
          <div class="title"> User ID: </div>
          <div class="field-display-only"><%= journal.userid %></div>
          <div class="title">  Entry ID:   </div>
          <div class="field-display-only"><%= journal.entryid %></div>
          <div class="title">  Code:   </div>
          <div class="field-display-only"><%= journal.periodcode %></div>
          <br>
          <br>
          <div class="title"> Date Code: </div>
          <div class="field-display-only"><%= journal.dateconvt %></div>
          <div class="title">  DB ID:   </div>
          <div class="field-display-only"><%= journal.dbid %></div>
          <br>
          <input type="hidden" name="userid" value=<%= journal.userid %> >
          <input type="hidden" name="entryid" value=<%= journal.entryid %> >
          <input type="hidden" name="periodcode" value=<%= journal.periodcode %> >
          <input type="hidden" name="dateconvt" value=<%= journal.dateconvt %> >
          <input type="hidden" name="dbid" value=<%= journal.dbid %> >
          <br>
          <br>
          <input type="submit" value="Update Journal Entry">
        </form>
      </fieldset>
      </article>

      <footer>Copyright &copy; Brian K Petitt</footer>

      </div>
    </body>

</html>
