<!DOCTYPE html>
<html>

    <head>
        <title>Update Journal</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>Update Journal Entry -<small> views/journals/edit.ejs</small></h1>
        <% console.log('journal - views/journals/edit.ejs'); %>
        <p>
          <strong> <a href="/journals">Back to Entries</a></strong>
        </p>

        <form method="POST" action="/journals/<%= journal._id %>">
          <input type="hidden" name="_method" value="PUT">
          <br />
          <strong> Entry Title: </strong>
          <input type="text" name="enttitle" value="<%= journal.enttitle %>" placeholder="Varsity Baseball vs WSHS">
          <br />
          <strong> Entry Date: </strong>
          <input type="text" name="entdate" value="<%= journal.entdate %>" placeholder="01/01/2001">
          <br />
          <strong> Entry Reference: </strong>
          <input list="period" type="text" name="entperiod" value="<%= journal.entperiod %>" placeholder="<%= journal.entperiod %>" >
          <datalist id="period">
            <option value="0000-All Day">
            <option value="0100-Early Morning">
            <option value="0600-Morning">
            <option value="0700-Breakfast">
            <option value="1200-Midday">
            <option value="1200-Lunch">
            <option value="1300-Afternoon">
            <option value="1800-Evening">
            <option value="1800-Dinner">
          </datalist>
          <br />
          <strong> Journal Entry: </strong>
          <textarea rows="10" cols="100" type="text" name="journalentry" value="<%= journal.journalentry %>" placeholder="<%= journal.journalentry %>">
          </textarea>
          <br />
          <p>
            <strong> User ID: </strong>
            <input type="text" name="userid" value="<%= journal.userid %>">
            <strong> User Entry ID: </strong>
            <input type="text" name="entryid" value="<%= journal.entryid %>">
            <strong> Code: </strong>
            <input type="text" name="periodcode" value="<%= journal.periodcode %>">
          </p>
          <p>
            <strong> Date Convert: </strong>
            <input type="text" name="dateconvt" value="<%= journal.dateconvt %>">
            <strong> DB ID: </strong>
            <input type="text" name="dbid" value="<%= journal.dbid %>">
          </p>
          <br />
          <input type="submit" value="Update Journal Entry">
        </form>
    </body>

</html>
