<!DOCTYPE html>
<html>

  <head>
    <title>Journal - View</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class="container">

    <header>
      <h1><%= title %></h1>
      <h3><p><%= subtitle %></p></h3>
      <h2>View Journal Entries</h2>
      <p>journal - views/journals/index.ejs</p>
      <% console.log('journal - views/journals/index.ejs'); %>
    </header>

    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <br>
        <li><a href="/journals/new">Add Journal Entry</a></li>
        <br>
        <li><a href="/journals">List All Journal Entries</a></li>
        <br>
        <li><a href="#">Search by Event</a></li>
        <li><a href="/journals/search">Search by Date</a></li>
        <li><a href="#">Search by Keyword</a></li>
        <li><a href="#">Search by Event</a></li>
      </ul>
    </nav>

<%# periodobj[0] %>
    <article>

      <ol>
        <% for (var i = 0; i < journals.length; i++) { %>
          <% let journal = journals[i]; %>
          <% let holdEntry = journal.journalentry; %>
          <fieldset>
            <legend> Journal Entry </legend>
            <div class="title"> Entry Date: </div>
            <div class="field-date"><%= journal.entdate %></div>
            <div class="title"> Event Title: </div>
            <div class="field-title" ><%= journal.enttitle %> </div>
            <div class="title"> Entry Reference: </div>
            <div class="field"><%= journal.entperiod %> </div>
            <br>
            <br>
          <a href="/journals/<%= journal._id %>">
            <button>Review Journal Entry</button>
          </a>
          <br>
        </fieldset>
          <br>
      <% } %>
    </ol>
  </article>

  <footer>Copyright &copy; Brian K Petitt</footer>

  </body>
</html>
