<!DOCTYPE html>
<html>
  <head>
    <title>Journal - New</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">

    <header>
      <h1><%= title %></h1>
      <h3><p><%= subtitle %></p></h3>
      <h2>New Journal Entry</h2>
      <p>journal - views/journals/new.ejs</p>
      <% console.log('journal - views/journals/new.ejs'); %>

    </header>

    <nav>
      <ul>
        <li><a href="/journals">List all Journal Entries</a></li>
        <br>
        <li><a href="/">HOME</a></li>
        <br>
        <li><a href="#">Search by Event</a></li>
        <li><a href="#">Search by Date</a></li>
        <li><a href="#">Search by Keyword</a></li>
        <li><a href="#">Search by Event</a></li>
      </ul>
    </nav>

    <article>
      <fieldset>
        <legend> Journal Entry </legend>

    <form method="POST" action="/journals">
      <% let userid = "BKP04"; %>
      <% let entryid = "00000"; %>
      <% let periodcode = "9999"; %>
      <% let dateconvt = "20010101"; %>
      <% let dbid = "JLDB"; %>

      <div class="title"> Entry Title: </div>
      <div class="field"><input type="text" size="65" name="enttitle" ></div>
      <br> <br>
      <div class="title"> Entry Date: </div>
      <div class="field-date"><input type="date" min="1962-01-01" name="entdate"></div>
      <br> <br>
      <div class="title"> Entry Reference: </div>
      <div class="field"><input list="period" type="text" name="entperiod" ></div>
      <datalist id="period">
        <option value="0000-All Day">
        <option value="0100-Early Morning">
        <option value="0600-Morning">
        <option value="0700-Breakfast">
        <option value="1200-Midday">
        <option value="1200-Lunch">
        <option value="1300-Afternoon">
        <option value="1800-Evening">
        <option value="1800-Dinner">
        <option value="2400-Midnight">
      </datalist>
      <br> <br>
      <div class="title"> Journal Entry: </div>
      <div><textarea name="journalentry">
      </textarea></div>
      <br>
      <br>

      <div class="title"> User ID: </div>
      <div class="field-display-only"><%= userid %></div>
      <div class="title"> Entry ID:   </div>
      <div class="field-display-only"><%= entryid %></div>
      <div class="title"> Code:   </div>
      <div class="field-display-only"><%= periodcode %></div>
      <br>
      <br>
      <div class="title"> Date Code: </div>
      <div class="field-display-only"><%= dateconvt %></div>
      <div class="title"> DB ID:   </div>
      <div class="field-display-only"><%= dbid %></div>
      <br>
      <input type="hidden" name="userid" value=<%= userid %>
      <input type="hidden" name="entryid" value=<%= entryid %>
      <input type="hidden" name="periodcode" value=<%= periodcode %>
      <input type="hidden" name="dateconvt" value=<%= dateconvt %>
      <input type="hidden" name="dbid" value=<%= dbid %>
      <br>
      <br>
      <input type="submit" value="Add Journal Entry">
    </form>
  </fieldset>
</article>

<footer>Copyright &copy; Brian K Petitt</footer>

  </body>
</html>
