<!DOCTYPE html>
<html>
  <head>
    <title>Journals - show</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">

    <header>
      <h1><%= title %></h1>
      <h3><p><%= subtitle %></p></h3>
      <h2>Show Journal Entry</h2>
      <p>journal - views/journals/show.ejs'</p>
      <% console.log('journal - views/journals/show.ejs'); %>
    </header>

      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <br>
          <li><a href="/journals/new">Add Journal Entry</a></li>
          <br>
          <li><a href="/journals">List All Journal Entries</a></li>
          <br>
          <li><a href="#">Search by Event</a></li>
          <li><a href="#">Search by Date</a></li>
          <li><a href="#">Search by Keyword</a></li>
          <li><a href="#">Search by Event</a></li>
        </ul>
      </nav>

      <article>
        <fieldset>
          <legend> Journal Entry </legend>

      <div>
          <br>
            <div class="title"> Entry Title: </div>
            <div class="field" ><%= journal.enttitle %> </div>
          <br>
          <br>
            <div class="title"> Entry Date:  </div>
            <div class="field-date"> <%= journal.entdate %> </div>
            <br>
            <br>
            <div class="title"> Entry Reference:  </div>
            <div class="field"> <%= journal.entperiod %> </div>
            <br>
            <br>
            <div class="title"> Journal Entry:  </div>
            <div class="field-entry"><%= journal.journalentry %> </div>
            <!-- <div> <textarea name="journalentry" > <%= journal.journalentry %>
            </textarea></div> -->
            <br>
            <br>

            <div class="title"> User ID:  </div>
            <div class="field-display-only"><%= journal.userid %></div>

            <div class="title"> Entry ID:  </div>
            <div class="field-display-only"><%= journal.entryid %></div>
            <div class="title"> Code:  </div>
            <div class="field-display-only"><%= journal.periodcode %></div>
            <br>
            <br>
            <div class="title"> Date Code: </div>
            <div class="field-display-only"><%= journal.dateconvt %></div>
            <div class="title"> DB ID:  </div>
            <div class="field-display-only"><%= journal.dbid %></div>
            <br>
            <br>
          <br>
            <form method="POST" action="/journals/<%= journal._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete this Entry">
            </form>
            <br>
            <a href="/journals/<%= journal._id %>/edit">
                <button>Edit Journal Entry</button>
            </a>
            <br>
            <br>
            <a href="/journals/new">
              <button>Create Journal Entry</button>
            </a>
        </div>
        </fieldset>
      </article>

      <footer>Copyright &copy; Brian K Petitt</footer>

      </div>
    </body>

</html>
