<!DOCTYPE html>
<html>
  <head>
    <title>Journals - show</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">

    <header>
      <h1><%= title %></h1>
      <h3><p><%= subtitle %></p></h3>
      <h2>Show Journal Entry</h2>
      <p>journal - views/journals/show.ejs'</p>
      <% console.log('journal - views/journals/show.ejs'); %>
    </header>

      <nav>
        <ul>
          <li><a href="/journals">View to All Entries</a></li>
          <br>
          <li><a href="#">HOME</a></li>
          <br>
          <li><a href="#">Search by Event</a></li>
          <li><a href="#">Search by Date</a></li>
          <li><a href="#">Search by Keyword</a></li>
          <li><a href="#">Search by Event</a></li>
        </ul>
      </nav>

      <article>
      <div>
          <br>
            <div class="fldname" id="title"> <strong> Entry Title: </strong> </div>
            <div class="fldname" id="field" ><%= journal.enttitle %> </div>
          <br>
          <br>
            <div class="fldname" id="title"> <strong> Entry Date: </strong></div>
            <div class="fldname" id="field"> <%= journal.entdate %> </div>
            <div class="fldname" id="title"> <strong> Entry Reference: </strong></div>
            <div class="fldname" id="field"> <%= journal.entperiod %> </div>
            <br>
            <br>
            <div class="fldname" id="title"> <strong> Journal Entry: </strong></div>
            <div> <textarea name="journalentry" > <%= journal.journalentry %>
            </textarea></div>
            <br>
            <br>

            <div class="fldname" id="title"> <strong> User ID: </strong>  </div>
            <div class="fldname" id="field"><%= journal.userid %></div>

            <div class="fldname" id="title"> <strong> User Entry ID: </strong>  </div>
            <div class="fldname" id="field"><%= journal.entryid %></div>
            <div class="fldname" id="title"> <strong> Code: </strong>  </div>
            <div class="fldname" id="field"><%= journal.periodcode %></div>
            <br>
            <br>
            <div class="fldname" id="title"> <strong> Date Convert: </strong>  </div>
            <div class="fldname" id="field"><%= journal.dateconvt %></div>
            <div class="fldname" id="title"> <strong> DB ID: </strong>  </div>
            <div class="fldname" id="field"><%= journal.dbid %></div>
            <br>
            <br>
          <br>
            <form method="POST" action="/journals/<%= journal._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete this Entry">
            </form>
            <br>
            <a href="/journals/<%= journal._id %>/edit">
                <button>Edit Journal Entry</button>
            </a>
            <br>
            <br>
            <a href="/reviews/new?<%= journal._id %> ">
              <button>Create Journal Entry</button>
            </a>
        </div>
      </article>

      <footer>Copyright &copy; Brian K Petitt</footer>

      </div>
    </body>

</html>
